#bannerColor{
    padding:10px;
    background:#F2D16B;
}

#color1{
    padding:10px;
    background:#6BBCF2;
}

#color2{
    padding:10px;
    background:#D16BF2;
}

#color3{
    padding:10px;
    background:#6BF2D0;
}